<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca do Colégio F.F. Página Inicial</title>
    <link rel="stylesheet" href="/public/view/css/style.css">  <!-- Serve para linkar o css ao html -->
    <link rel="website icon" type="png" href="/public/imagens/vovo3.png"> <!-- Serve para mudar o ícone do site-->
</head>
<body>
    <header> Biblioteca do Colégio F.F.</header> <!-- É o cabeçalho-->
   <nav>
    <a href="site.html">Início</a>
    <div class="dropdown"> <!--Aqui a gente vai colocar os itens que vao descer para baixo "drop down" ao clicar em serviços-->
        <a href="#"> Serviços</a>
            <div class="dropdown-content">
                <a href="/public/view/html/cadastro de livros.html">Adicionar livro</a>
                <a href="/public/view/html/emprestimo_livro.html">Emprestar Livros</a>
            </div> 
    </div>
    <a href="/public/view/html/contato.html">Contato</a>
   </nav>
    <main> <!-- É a parte principal do site-->

        <div class="gallery-container">
            <ul class="list">
                <li class="item"></li>
                <li class="item"></li>
                <li class="item"></li>
                <li class="item"></li>
                <li class="item"></li>
            </ul>
        </div>
        

        <div class="botoes"></div>
        <center>
                <a href="/public/view/html/cadastro de livros.html" class="botao-adicionar">Adicionar livro</a>
                <a href="/public/view/html/emprestimo_livro.html" class="botao-emprestar">Emprestar Livros
                </a>
        </center>
</main>
<footer>
    <p><strong>Informações de contato:</strong></p>
    <p><strong>Autor:</strong> Deyvison Samuel Gomes do Nascimento</p>
                <p><strong>Email:</strong> capir.2024116tads0015@aluno.ifpi.edu.br</p>
                <p><strong>Telefone:</strong> (86) 9 8830-0294</p>
</footer>
</body>
</html>