header{
    background-color: #9cccd5; /* Muda a cor do fundo da header */
    font-size: 200%; /* Muda o tamanho do texto da header */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #ccc; 
  }
  
  .logo img {
    height: 100px;
  }
  
   *{
      margin: 0;
      padding: 0;
   }
  
   .logo{
      display: flex; 
      justify-content: space-between; align-items: center; 
      padding: 10px;
   }
  
   a {
      text-decoration: none;
      position: relative;
      cursor: pointer;
      color: #3178c6;
      font-size: 100%;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease;
      z-index: 2;
  }
  
  a:hover {
      background-color: rgba(255, 255, 255, 0.723);
      color: #3178c6; /* A cor do fundo da header, pra contrastar */
      border-radius: 40px;
      box-shadow: 0 0 20px white;
  }
  html,body {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    main {
      flex: 1;
    }
  
  footer {
      background-color: #9cccd5;
      color: #3178c6;
      text-align: center;
      padding: 20px;
      font-size: 0.9rem;
      margin-top: auto;
  }
  
  /* CSS para adaptar a telas pequenas:*/
  @media (max-width: 768px) {
      header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
        font-size: 160%; /* Reduz o tamanho do texto */
      }
    
      .logo {
          display: flex;
          justify-content: center;  /* Centraliza horizontalmente */
          align-items: center;      /* Centraliza verticalmente (se necessário) */
          width: 100%;
        }
      
        .logo img {
          height: 80px;
        }
    
    }
   
  /*Parte do main: */
  
  h1, h2{
      text-align: center;
      margin-top: 20px;
      color: #2f5f98;
      font-size: 50px;
  }
  
  .botao-cadastrar:hover, .botao-entrar:hover  {
      background-color: #ffdd78;
    }
  
    .botoes {
      display: flex;
      flex-direction: column; 
      align-items: center;     /* centraliza na horizontal */
      gap: 8px;               /* espaço entre os botões */
      margin-top: 30px;
  }
  
    .botao-entrar {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: #2d8bba; 
      color: #ffdd78;
      padding: 10px 15px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial, sans-serif;
      transition: background-color 0.3s ease;
      margin-top: 5px ;
      margin-bottom: 50px;
      width: 250px;
      height: 40px;
      font-size: 25px;
    }
  
    .container {
      width: 400px;
      margin: 50px auto;
      background-color: #ffeefe;
      padding: 30px;
      border-radius: 20px;
      color: #2f5f98;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    
    .container input[type="email"], .container input[type="password"], .container input[type="text"], .container input[type="date"], .container select{
    width: 90%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 1px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    outline: none;
    background-color: #e2ccff;
    color: #3178c6;
    
  }
  
  .container input[type="email"]:focus, .container input[type="password"]:focus, .container input[type="text"]:focus {
      box-shadow: 0 0 8px #79b8f9;
    }
    
    button.botao-enviar {
      all: unset; /* Remove estilo padrão do botão */
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: #2d8bba; 
      color: #ffdd78;
      padding: 10px 15px;
      border-radius: 30px;
      font-weight: bold;
      font-family: Arial, sans-serif;
      transition: background-color 0.3s ease;
      width: 250px;
      height: 40px;
      font-size: 25px;
      cursor: pointer;
      margin-top: 20px;
    }
    
    button.botao-enviar:hover {
      background-color: #1c5571;
    }

    .emocao{
        margin-top: 15px;
    }
    .notas{
        font-size: 25px;   
    }

    .notas label {
        position: relative;
        margin: 5px;
        cursor: pointer;
        font-size: 24px;
      }
      
      .tooltip {
        visibility: hidden;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 2px 6px;
        position: absolute;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        font-size: 14px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .notas label:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }

      /* Conteiner de escreva algo a mais*/

      .diario-container {
        display: flex;
        height: 100vh; /* ou a altura que você deseja */
        padding: 1rem;
        background-color: #f9f5f0;
      }
      
      .diario {
        display: flex;
        flex: 1;
        flex-direction: column;
      }
      
      
      .diario textarea {
        flex-grow: 1;
        border: none;
        resize: none;
        padding: 1rem;
        line-height: 1.8;
        font-size: 1.1rem;
        color: #383838;
        font-family: 'Georgia', serif;
        border-left: 2px solid #2d8bba;
        border-right: 2px solid #2d8bba;
        border-top: 2px solid #2d8bba;
        border-bottom: 2px solid #2d8bba;
        outline: none;
        border-radius: 20px;
        
      }
      